<!-- Toolbar -->
<div class="login" role="main">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.form)">
    <table>
      <tr>
        <td><b>Username:</b></td> <td><input type="text" class="form-control" name="name" ngModel #nameField="ngModel" placeholder="Enter Username" required></td>
      </tr>
      <tr>
        <td><b>Password:</b></td> <td><input type="password" class="form-control" name="pwd" ngModel #nameField="ngModel" placeholder="Enter Password" required></td>
      </tr>
    </table>
    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>

  </form>
</div>

<!--  -->



   

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->